*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Merienda', cursive; */
    /* two options for this font, regular 400 and bold 700*/
}
body{
    background-color: rgb(220, 220, 220);
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 4;
    pointer-events: none;
}
#overlay.active {
    opacity: 1;
    pointer-events: all;
}

/* .bgi1{    
    background-repeat: no-repeat;
    background-position: right;
} */